:root {
  font-family: system-ui, sans-serif;
  padding: 0; margin: 0;
  --app-width: 300px
}

h1 {
  text-align: center;
}

form {
  margin: auto;
  width: var(--app-width);
  display: flex;
  justify-content: center;
}

#messages {
  margin: auto;
  width: var(--app-width)
}

#messages .sent {
  text-align: right;
}

#messages .recieved {
  text-align: left;
}
