<h3><strong>POST</strong> <code>/upload/image</code></h3>
<p>Uploads an image from a multipart form field to <code>/public/img/uploads</code></p>
<h4>Form fields</h4>
<ul>
  <li><strong>image</strong>: An image file</li>
</ul>
<h4>Response</h4>
<pre><code class="language-json">
{
	"token": "0c985d5bc9c711b9ecb54877026ff27bf41996e6"
}
</code></pre>
