<h3>Response</h3>
<p><em>Every request in this section returns this object (by itself or in an array): </em></p>
<pre><code class="language-json">
{
	"_id": "64012c17ee606bf7649fad84",
	"email": "johndoe@example.com",
	"username": "John",
	"password": null,
	"__v": 2,
	"conversations": [
		"6407c5598568e0e6ae741ad4",
		"64090daecbd947e2e4895cf6"
	],
	"profilePicture": "/public/helloworld.png"
}
</code></pre>
<p>
	"profilePicture" can be undefined.
</p>

<h3><strong>GET</strong> <code>/api/users/</code> 🔒</h3>
<p>Returns the current authenticated user, without its password</p>

<h3><strong>GET</strong> <code>/api/users/{id}</code></h3>
<p>Returns a user with a matching <code>id</code>, without its password</p>

<h3><strong>GET</strong> <code>/api/users/contacts/</code> 🔒</h3>
<p>Returns a list of all the users the user has a conversation with</p>

<h3><strong>GET</strong> <code>/api/users/byEmail/{email}</code></h3>
<p>Returns a user with a matching <code>email</code>, without its password</p>

<h3><strong>GET</strong> <code>/api/users/search/?email={email}</code></h3>
<p>Returns a list of users with a matching <code>email</code>, without their passwords</p>

<h3><strong>PUT</strong> <code>/api/users/</code> 🔒</h3>
<p>Updates the authenticated user's info (not including its password)</p>
<h4>Request body</h4>
<ul>
	<li><strong>username (optional)</strong></li>
	<li><strong>email (optional)</strong></li>
	<li><strong>profilePicture (optional)</strong></li>
</ul>

<h3><strong>DELETE</strong> <code>/api/users/</code> 🔒</h3>
<p>Deletes the authenticated user</p>

